.productStage {
  display: flex;
  justify-content: center;
  margin: 3em 0 0 0;
  width: 1440px;

  .innerStructure {
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid #924600;
    border-radius: 10px;
    box-shadow: 0 0 60px #92470052;
    display: flex;
    width: 95%;

    .productImg {
      text-align: center;
      width: 50%;

      img {
        border: 10px solid black;
        box-shadow: 0 0 20px #924700c0;
        margin: 4em 0;
        width: 250px;
      }
    }

    .productShopDetails {
      text-align: center;
      width: 50%;

      .productName {
        display: flex;
        justify-content: center;
        margin: 50px 2em 0 2em;
        h2 {
          font-size: 35px;
          font-family: "Jacques Francois";
          font-weight: 100;
          text-decoration: underline;
          margin: 0%;
          width: 95%;
        }
      }

      .productDescription {
        display: flex;
        justify-content: center;
        margin: 10px 0 0 0;
        width: 100%;
        h4 {
          font-size: 20px;
          font-family: "Jacques Francois";
          font-weight: 100;
          width: 80%;
        }
      }

      .productFunctions {
        margin: 0;

        .priceAndQuatity {
          display: flex;
          justify-content: space-between;
          .quatity {
            margin: auto;
            width: 50%;
            .setQuantity {
              margin: 0;
              display: flex;
              p {
                font-size: 20px;
                font-family: "Jacques Francois";
                margin: 10px 0.5em 10px 0.5em;
              }

              input {
                border: 2px solid rgb(128, 47, 0);
                background-color: rgba(128, 44, 0, 0);
                color: #ffffff;
                height: 20px;
                margin: 10px 0;
                width: 20px;
              }
            }
            .errorWarning {
              p {
                color: rgb(182, 0, 0);
                font-size: 15px;
                margin: 0;
              }
            }
          }

          .price {
            display: flex;
            justify-content: right;
            margin: 0 10px;
            width: 50%;
            p {
              font-size: 32px;
              font-family: "Jaini";
              font-weight: 500;
              margin: 50px 0;
            }
          }
        }

        .addToCart {
          button {
            border: 1px solid #ffffff;
            border-radius: 7px;
            background-color: #924600;
            color: #ffffff;
            font-size: 20px;
            font-family: "Jacques Francois";
            padding: 10px 30px;
            margin: 0;
            min-height: fit-content;
            width: fit-content;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1440px) {
  .productStage {
    width: 100%;
  }
}

@media only screen and (max-width: 1220px) {
  .productStage {
    .innerStructure {
      .productImg {
        img {
          margin: 2em 0;
          width: 200px;
        }
      }

      .productShopDetails {
        .productName {
          margin: 30px 2em 0 2em;
          h2 {
            font-size: 30px;
          }
        }

        .productDescription {
          margin: 0;
          h4 {
            font-size: 18px;
          }
        }

        .productFunctions {
          .priceAndQuatity {
            padding: 0%;
            .quatity {
              p {
                font-size: 20px;
                margin: 5px 0.5em 5px 0.5em;
              }
            }

            .price {
              p {
                font-size: 32px;
                margin: 0;
              }
            }
            .errorWarning {
              text-align: left;
              p {
                font-size: 12px;
              }
            }
          }

          .addToCart {
            display: flex;
            justify-content: center;
            button {
              display: block;
              font-size: 15px;
              font-family: "Jacques Francois";
              padding: 10px 30px;
              margin: 1em 0;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 990px) {
  .productStage {
    .innerStructure {
      .productImg {
        img {
          margin: 2em 0;
          width: 200px;
        }
      }

      .productShopDetails {
        .productName {
          margin: 40px 2em 0 2em;
          h2 {
            font-size: 25px;
          }
        }

        .productDescription {
          margin: 20px 0 0 0;
          h4 {
            font-size: 16px;
          }
        }

        .productFunctions {
          .priceAndQuatity {
            .quatity {
              .setQuantity {
                p {
                  font-size: 18px;
                }
                input {
                  height: 15px;
                }
              }
              .errorWarning {
                p {
                  font-size: 12px;
                }
              }
            }
            .price {
              display: block;
              text-align: right;
              margin: auto 5px;
              p {
                font-size: 25px;
                display: block;
              }
            }
          }
        }

        .addToCart {
          button {
            font-size: 15px;
            margin: 7em 1em 0 0;
            padding: 5px 15px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 620px) {
  .productStage {
    .innerStructure {
      position: relative;
      .productImg {
        img {
          margin: 2em 0;
          width: 150px;
        }
      }

      .productShopDetails {
        .productName {
          margin: 40px 2em 0 2em;
          h2 {
            font-size: 20px;
          }
        }

        .productDescription {
          margin: 10px 0;
          h4 {
            font-size: 12px;
          }
        }

        .productFunctions {
          .priceAndQuatity {
            .quatity {
              margin: 5px 0 0 0;
              p {
                font-size: 9px;
              }

              input {
                height: 10px;
                margin: 10px 0;
                width: 20px;
              }
            }

            .price {
              p {
                font-size: 20px;
              }
            }
          }

          .addToCart {
            button {
              font-size: 10px;
              padding: 5px 15px;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 470px) {
  .productStage {
    margin: 1em 0 0 0;
    width: 90%;
    .innerStructure {
      display: block;

      .productImg {
        width: 100%;
        margin: 0;
        img {
          margin: 2em 0;
          width: 150px;
        }
      }

      .productShopDetails {
        width: 100%;
        .productName {
          margin: 10px 2em 0 2em;
          h2 {
            font-size: 28px;
          }
        }

        .productDescription {
          margin: 10px 0 0 0;

          h4 {
            font-size: 15px;
            width: 95%;
          }
        }

        .productFunctions {
          .priceAndQuatity {
            .quatity {
              p {
                font-size: 16px;
              }

              input {
                height: 18px;
              }
            }

            .price {
              p {
                font-size: 20px;
                margin: 5px 0;
              }
            }
          }
          .addToCart {
            margin: 1em 0;
            width: 100%;
            button {
              font-size: 15px;
              margin: auto 1em;
              padding: 5px 15px;
            }
          }
        }
      }
    }
  }
}
