.centerProductPage {
  display: flex;
  justify-content: center;
  width: 100vw;
}

.productPage {
  width: 1440px;
}

.theProduct {
  display: flex;
  justify-content: center;
  width: inherit;
}

@media only screen and (max-width: 1440px) {
  .productPage {
    width: 100%;
  }
  .theProduct {
    width: 100%;
  }
}
